
.section {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #fff;
    background-repeat: no-repeat;
}

.section__title {
    margin-bottom: 30px;
    font-size: 64px;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
}

@media (max-width: 1024px) {
    .section {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .section__title {
        font-size: 44px;
    }
}

@media (max-width: 768px) {
    .section {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .section__title {
        font-size: 38px;
    }
}

@media (max-width: 480px) {
    .section {

    }

    .section__title {
        font-size: 30px;
    }
}
