
.section {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #fff;
    background-repeat: no-repeat;

    &_face {
        background-color: #F2F2E8;
    }

    &_sostav {
        background-image: url("../media/section/sostav.jpg");
        background-position: center;
    }

    &_advantages {
        background-image: url("../media/section/advantages.jpg");
        background-repeat: repeat;
    }

    &_order {
        background-color: #F2F2E8;
    }
}

.section__title {
    margin-bottom: 30px;
    font-size: 64px;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
}

@media (max-width: 1024px) {
    .section {
        padding-top: 40px;
        padding-bottom: 40px;

        &_sostav {
            padding-bottom: 600px;
            background-image: url("../media/section/sostav-1024.jpg");
            background-position: center bottom;
        }
    }

    .section__title {
        font-size: 44px;
    }
}

@media (max-width: 768px) {
    .section {
        padding-top: 30px;
        padding-bottom: 30px;

        &_sostav {
            padding-bottom: 390px;
            background-image: url("../media/section/sostav-768.jpg");
            background-position: center bottom;
        }
    }

    .section__title {
        font-size: 38px;
    }
}

@media (max-width: 480px) {
    .section {

    }

    .section__title {
        font-size: 30px;
    }
}
