<footer class="footer">
    <nav class="nav nav_footer">
        <div class="nav__logo"><a href="/">Wormin</a><p>Официальный сайт</p></div>
        <div class="nav__list nav__list_footer">
            <a href="" class="nav__link nav__link_footer active">Главная</a>
            <a href="" class="nav__link nav__link_footer">Заказать</a>
            <a href="" class="nav__link nav__link_footer">Доставка</a>
            <a href="" class="nav__link nav__link_footer">Контакты</a>
            <a href="" class="nav__link nav__link_footer">Отзывы</a>
            <a href="" class="nav__link nav__link_footer">Блог</a>
        </div>
    </nav>
</footer>