<footer class="footer">
    <nav class="nav nav_footer">
        <div class="nav__logo"><a href="/">Wormin</a><p>Официальный сайт</p></div>
        <div class="nav__list nav__list_footer">
            <a href="index.html" class="nav__link nav__link_footer active">Главная</a>
            <a href="order.html" class="nav__link nav__link_footer">Заказать</a>
            <a href="delivery.html" class="nav__link nav__link_footer">Доставка</a>
            <a href="contacts.html" class="nav__link nav__link_footer">Контакты</a>
            <a href="message.html" class="nav__link nav__link_footer">Отзывы</a>
            <a href="blog.html" class="nav__link nav__link_footer">Блог</a>
        </div>
    </nav>
    <div class="footer__modal">
        <div class="footer__modal-item">Lorem, ipsum.</div>
        <div class="footer__modal-item">Lorem, ipsum dolor.</div>
    </div>
</footer>
<div class="footer-modal">
    <div class="footer-modal__body">
        <div class="footer-modal__head">
            <div class="footer-modal__close">
                <span></span><span></span>
            </div>
        </div>
        <h1>название статьи1</h1>
        <p>С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации новых предложений. Таким образом сложившаяся структура организации влечет за собой процесс внедрения и модернизации модели развития. С другой стороны сложившаяся структура организации влечет за собой процесс внедрения и модернизации соответствующий условий активизации. Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение новых предложений. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции в значительной степени обуславливает создание направлений прогрессивного развития.</p>
        <p>Повседневная практика показывает, что рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки существенных финансовых и административных условий. Товарищи! укрепление и развитие структуры позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.</p>
        <p>Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа системы обучения кадров, соответствует насущным потребностям. С другой стороны сложившаяся структура организации позволяет оценить значение форм развития. Идейные соображения высшего порядка, а также рамки и место обучения кадров требуют от нас анализа модели развития. С другой стороны сложившаяся структура организации влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки существенных финансовых и административных условий. Идейные соображения высшего порядка, а также новая модель организационной деятельности требуют от нас анализа направлений прогрессивного развития.</p>
    </div>
</div>
<div class="footer-modal">
    <div class="footer-modal__body">
        <div class="footer-modal__head">
            <div class="footer-modal__close">
                <span></span><span></span>
            </div>
        </div>
        <h1>название статьи2</h1>
        <p>С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации новых предложений. Таким образом сложившаяся структура организации влечет за собой процесс внедрения и модернизации модели развития. С другой стороны сложившаяся структура организации влечет за собой процесс внедрения и модернизации соответствующий условий активизации. Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение новых предложений. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции в значительной степени обуславливает создание направлений прогрессивного развития.</p>
        <p>Повседневная практика показывает, что рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки существенных финансовых и административных условий. Товарищи! укрепление и развитие структуры позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.</p>
        <p>Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа системы обучения кадров, соответствует насущным потребностям. С другой стороны сложившаяся структура организации позволяет оценить значение форм развития. Идейные соображения высшего порядка, а также рамки и место обучения кадров требуют от нас анализа модели развития. С другой стороны сложившаяся структура организации влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки существенных финансовых и административных условий. Идейные соображения высшего порядка, а также новая модель организационной деятельности требуют от нас анализа направлений прогрессивного развития.</p>
    </div>
</div>