<!DOCTYPE html>
<html lang="en">
<%- include('block/head') %>

<body>
    <div class="page">
        <%- include('block/header') %>
        <section class="section section_pay">
            <div class="container">
                <div class="pay">
                    <h1 class="pay__title"><mark>доставка и оплата</mark> заказать WORMIN можно в нашем онлайн-магазине</h1>
                    <div class="pay__body">
                        <div class="pay__item">
                            <div class="pay__media"><img src="../media/pay/img-1.png" alt=""></div>
                            <div class="pay__description">
                                <span>1.</span>
                                <p>Заполните форму заказа на сайте</p>
                            </div>
                        </div>
                        <div class="pay__item">
                            <div class="pay__media"><img src="../media/pay/img-2.png" alt=""></div>
                            <div class="pay__description">
                                <span>2.</span>
                                <p>Дождитесь звонка оператора для уточнения деталей</p>
                            </div>
                        </div>
                        <div class="pay__item">
                            <div class="pay__media"><img src="../media/pay/img-3.png" alt=""></div>
                            <div class="pay__description">
                                <span>3.</span>
                                <p>Оплатите посылку при получении</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('block/footer') %>
    </div>
    <%- include('block/script') %>
</body>

</html>