<!DOCTYPE html>
<html lang="en">
<%- include('block/head') %>

<body>
    <div class="page">
        <%- include('block/header') %>
        <%- include('block/face') %>
    </div>
    <%- include('block/script') %>
</body>

</html>